<div class="row">
  <div class="col-12 text-center">
    <h3>Game Name</h3>
    <hr>
    <h4>Date</h4>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <img src="https://footballdrug.com/wp-content/uploads/2018/03/Mexico.jpg" alt="game-preview">
  </div>
</div>

<div class="row text-center">
  <div class="col-12">
    <button (click)="BookGame()">Book Game!</button>
  </div>
</div>
