<div class="row game-selection">
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <app-datepicker></app-datepicker>
      </div>
      <div class="col-9">
        <app-game-list></app-game-list>
      </div>
    </div>
    <app-game-panel></app-game-panel>
  </div>
</div>
