.bar-rectangle{
  width: 100px;
  height: 100px;
  background-image: url("http://www.thatsmags.com/image/view/201612/the-camel-shanghai-sports-bar-81.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
