.TeamCircle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("https://seeklogo.com/images/F/FC_Barcelona-logo-CE8D51F664-seeklogo.com.png");
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.5);
}
