<div class="row game-list">
  <div class="col-4">
    <h3>Game List</h3>
    <ul>
      <li *ngFor="let game of GameList"
          (mouseenter) ="mouseEnter(game)"
          (mouseleave) ="mouseLeave(game)"
          class="game-item">
        {{game.TeamA.Name}} VS {{game.TeamB.Name}}
      </li>
    </ul>
  </div>
</div>
