<div class="row game-panel">
  <div class="col-3" (click)="BookGame(DisplayedGame.TeamA.Name)">
    <app-team-circle
      [TeamName]="DisplayedGame.TeamA.Name"
      [ImageUrl]="DisplayedGame.TeamA.ImageUrl"></app-team-circle>
    <app-bar-rectangle
      [BarName]="DisplayedGame.TeamA.Name"
      ImageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUkCG-S09KwhX1zWGHAb9jC8nqYl5bcVYVFqMI7ZXTnXjcZS_2"
    ></app-bar-rectangle>
  </div>


  <div class="col-6">
    <h2 class="text-center">VS</h2>
  </div>


  <div class="col-3" (click)="BookGame(DisplayedGame.TeamB.Name)">
    <app-team-circle
      [TeamName]="DisplayedGame.TeamB.Name"
      [ImageUrl]="DisplayedGame.TeamB.ImageUrl"
    ></app-team-circle>
    <app-bar-rectangle
      [BarName]="DisplayedGame.TeamB.Name"
      ImageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUkCG-S09KwhX1zWGHAb9jC8nqYl5bcVYVFqMI7ZXTnXjcZS_2"
    ></app-bar-rectangle>
  </div>
</div>
